#map {
    height: 600px;
    width: 320px;
}

.popup-content {
    font-family: 'Arial, sans-serif';
    font-size: 14px;
    color: #333;
}

.popup-content h3 {
    margin: 0 0 5px 0;
    font-size: 17px;
    color: #2c3e50;
}

.popup-content p {
    margin: 2px 0;
}

.popup-content strong {
    color: #035719;
}

.leaflet-popup-content-wrapper {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.leaflet-popup-tip {
    background-color: #f9f9f9;
}

.leaflet-popup-content {
    margin: 8px 12px;
}

.leaflet-container {
    font-family: 'Arial, sans-serif';
}

.view-profile {
    display: block;
    margin: 1px auto 0 auto;
    padding: 6px 12px;
    background-color: #035719;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    width: 100%;
}


